@use "../../styles/abstracts" as abs

.button
    width: 200px
    height: 50px
    border-radius: 50px 50px
    background-color: abs.$secondary-color
    color: abs.$background-color
    font-size: 1rem
    text-transform: uppercase
    cursor: pointer
    &:hover
        color: abs.$secondary-color
        background-color: abs.$primary-color
