@use "../../styles/abstracts" as abs

.hero
    @include abs.flex-center(row, space-between)
    width: 100%
    padding: 0 80px
    box-sizing: border-box

.hero__content
    width: 60%

.hero__title
    color: white
    font-size: 6rem
    text-transform: uppercase

.hero__gallery
    display: flex
    gap: 3rem

.hero__item
    height: 100%
    box-sizing: border-box
    &--right
        margin-top: 20%

.hero__item-image
    display: block
    width: 300px
    border-radius: 250px 250px 0 0
    object-fit: cover
    &--left
        height: 450px
        margin-left: 100px
    &--right
        height: 350px
        margin-right: 25px

.hero__item-circle
    background-color: abs.$primary-color
    &--left
        @include abs.half-circle(150px, 75px)
    &--right
        @include abs.half-circle(200px, 100px)
        justify-self: end
