@mixin flex-center($direction: row, $justify: center)
    display: flex
    flex-direction: $direction
    align-items: center
    justify-content: $justify

@mixin font-poetsen($weight: 400)
    font-family: "Poetsen One", sans-serif
    font-weight: $weight
    font-style: normal

@mixin font-nunito($weight: 400)
    font-family: "Nunito", sans-serif
    font-optical-sizing: auto
    font-weight: $weight
    font-style: normal

@mixin section-narrow($paddingY: 80px)
    padding: 0 $paddingY
    box-sizing: border-box
    @media (max-width: 1023px)
        padding: 0 (calc($paddingY / 2))
    @media (max-width: 539px)
        padding: 0 (calc($paddingY / 4))

@mixin half-circle($width, $direction: bottom)
    $radius: calc($width / 2)
    width: $width
    height: $radius
    @if $direction == top
        border-radius: $radius $radius 0 0
    @else if $direction == bottom
        border-radius: 0 0 $radius $radius
    @else
        @warn "Unsupported direction `#{$direction}` in half-circle mixin."

@mixin span-highlight($url, $position, $size)
    display: inline-block
    background-repeat: no-repeat
    background-image: url($url)
    background-position: $position
    background-size: $size
