// Colors
$primary-color: #567C49
$secondary-color: #ffffff
$background-color: #023A15
$error-color: #FF0000

// Spacing

//Typography
// $font-size-text-large-desktop: 4rem
// $font-size-text-medium-desktop: 1.5rem
// $font-size-text-small-desktop: 1rem

$font-size-text-large-desktop: clamp(1.5rem, 4vw, 4rem)
$font-size-text-medium-desktop: clamp(1rem, 2vw, 1.5rem)
$font-size-text-small-desktop: clamp(.75rem, 1vw, 1rem)

$font-size-text-large-lg: 3rem
$font-size-text-medium-lg: 1.25rem
$font-size-text-small-lg: 1rem

$font-size-text-large-sm: 2.5rem
$font-size-text-medium-sm: 1rem
$font-size-text-small-sm: 1rem
