@use "../../styles/abstracts" as abs

.signup
    @include abs.flex-center(column)
    height: 60vh
    gap: 3rem
    background-color: abs.$secondary-color

.signup__title
    width: 100%
    max-width: 1280px
    color: abs.$background-color
    text-align: center
