@use './abstracts' as abs
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&display=swap')

html, body, #root
    height: 100vh
    width: 100vw
    margin: 0
    padding: 0
    scroll-behavior: smooth
    overflow-x: hidden

#root
    @include abs.flex-center(column, safe)
    background-color: abs.$background-color

h1
    @include abs.font-poetsen
    font-size: abs.$font-size-text-large
    margin: 0

h2
    font-size: abs.$font-size-text-medium

p, a, button, h2
    @include abs.font-nunito
    margin: 0
    border: none
    text-decoration: none

a
    font-size: abs.$font-size-text-small
    color: inherit

p
    font-size: abs.$font-size-text-medium

header, main, footer
    width: 100%
    max-width: 1440px

ul, ol
    margin: 0
    padding: 0
    list-style: none
