@use "../../styles/abstracts" as abs

.modal
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 999
    @include abs.flex-center

.modal__form
    text-align: center
    gap: 1rem
    flex: 1
    padding: 3vw
    @include abs.flex-center(column)

.modal__overlay
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)

.modal__close
    position: absolute
    top: 0
    right: 0
    width: 2rem
    height: 2rem
    background-color: abs.$background-color
    color: abs.$secondary-color
    font-size: abs.$font-size-text-medium-desktop
    cursor: pointer
    @include abs.flex-center
    &:hover
        background-color: abs.$secondary-color
        color: abs.$background-color

.modal__content
    position: relative
    width: 100%
    min-width: 320px
    max-width: 1080px
    background-color: abs.$secondary-color
    z-index: 1000
    box-sizing: border-box
    @include abs.flex-center(row, unset)

.modal__title
    color: abs.$background-color

.modal__description
    color: abs.$background-color
    font-weight: 400

.modal__image
    width: 50%

@media (max-width: 767px)
    .modal__content
        max-width: 500px

    .modal__image
        display: none
